/* GENERAL */

body{
  text-align: center;
  background-color: whitesmoke;
}
h1{
  text-align: center;
}
input{
  width: 25%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 5%;
}
input:hover{
  cursor: pointer;
  color: blue;
  background: #C0DEFE;
}
header{
  background-color: #40A5FF;
  color: white;
  height: 50px;
  text-shadow: 2px 2px 2px blue;
}
/* CLASSES */
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box{
  padding: 5px;
  margin-bottom: 5px;
  color: black;
  text-shadow: 2px 2px 2px rgba(0,0,255,0.24);
}
.subtitles{
  color: black;
}
.box img{
  height: 220px;
  width: 220px;
  border-radius: 15%;
  padding: 2px;
  border: 1px solid blue;
  border-width: medium;
}
.button{
  padding: 5px;
  width: 140px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 2px 2px 2px lightgray;
  color: blue;
  border-radius: 5%;

}
.view {
  width: 75px;
  height: 40px;
  background-color: lightgray;
  border-color: gray;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15%;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px gray;

}
